# Backend ignored files
backend/__pycache__/
backend/venv/
backend/models/
backend/uploads/

# Frontend ignored files
frontend/node_modules/
frontend/dist/

# Python
*.pyc
__pycache__/

# Environment
.env

# System files
.DS_Store

# Large/data files
data/
datasets/
*.zip
*.csv
*.xlsx
*.pt
*.pth
*.pkl
*.h5